body {
	background-color:#788994;
	font-size: 100%;
}


#titlepic {
	height: 10em;
	text-align: center;
	
}
}
#title {
	color: #F3E9C5;
	font-size: 1.5em;
	font-family: 'Special Elite', cursive;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:20px;
	position:center;
}

#MainColumn {
	color: #524632;
	margin: 50 auto;
	width: 90%;
}

#nav {
	width:20%;
	float: left;
	background: #66101F;
	padding: 0 .25em;
	font-family:'Special Elite', cursive;
}

#nav2 {
	font-size: 1em;
}

#content {
	float: left;
	width: 75%;
	background-color:#543843;
	color: #F3E9C5;
	padding: 1em;
	font-family: 'Slabo 13px', serif;

	
}

#illustration {
	text-align:center;
	float: right;
	padding: .25em;
	margin-top:0em;
	margin-bottom: 0em;
	margin-right: 25em;
	position: top;
	color: white;
	
}


	
